<table class=" table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Station ID</th>
      <th>Min temp</th>
      <th>Mean temp</th>
      <th>Max temp</th>
      <th>Pressure</th>
      <th>Humidty</th>
      <th>ForecastDay</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of ForecastList">
      <td>{{dataItem.Date | date: 'yyyy-MM-dd'}}</td>
      <td>{{dataItem.StationId}}</td>
      <td>{{dataItem.TempMin}} &#8451;</td>
      <td>{{dataItem.TempMean}} &#8451;</td>
      <td>{{dataItem.TempMax}} &#8451;</td>
      <td>{{dataItem.Pressure}}</td>
      <td>{{dataItem.Humidity}} %</td>
      <td>{{updateDate(dataItem.ForecastDay)}}</td>
    </tr>
  </tbody>
</table>
