<table class=" table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>StationId</th>
      <th>TempMean</th>
      <th>Humidity</th>
      <th>Pressure</th>
      <th>TempMin</th>
      <th>TempMax</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of StationsList">
      <td> {{dataItem.Date}}</td>
      <td>{{dataItem.StationId}}</td>
      <td>{{dataItem.TempMean}}</td>
      <td>{{dataItem.Humidity}}</td>
      <td>{{dataItem.Pressure}}</td>
      <td>{{dataItem.TempMin}}</td>
      <td>{{dataItem.TempMax}}</td>
    </tr>
  </tbody>
</table>
