.active-list-item {
  background-color: #0a5796; /* Note: You could also use a custom theme */
  color: #fff !important;
}

button {
  border-color: #0a5796;
  color: #0a5796;
}

  button:hover {
    background-color: #0a5796;
  }

.logo {
  text-align: center !important;
}

.bg-light {
  background: rgb(201,197,198);
  background: linear-gradient(90deg, rgba(201,197,198,1) 0%, rgba(251,249,250,1) 50%, rgba(251,249,250,1) 50%, rgba(201,197,198,1) 100%);
}

.headerWithLogo {
  background: rgb(201,197,198);
  background: linear-gradient(90deg, rgba(201,197,198,1) 0%, rgba(251,249,250,1) 50%, rgba(251,249,250,1) 50%, rgba(201,197,198,1) 100%);
}

#header2 {
  margin-bottom: 0px;
}

.container-fluid {
  padding: 0px;
}

.dot {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 36%;
  top: 11px;
}
