
<div class="container">
  <h3 class="d-flex justify-content-center">Bachelor project for Ak-Centralen</h3>
  <h5 class="d-flex justify-content-center">Weather and alarm pressure predictor</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="region" routerLinkActive="active-list-item" class="m-1 btn btn-light btn-outline-primary" Button>Regions</button>
      </li>

      <li class="nav-item">
        <button routerLink="station" routerLinkActive="active-list-item" class="m-1 btn btn-light btn-outline-primary" Button>Stations</button>
      </li>

      <li class="nav-item">
        <button routerLink="forecast" routerLinkActive="active-list-item" class="m-1 btn btn-light btn-outline-primary" Button>Forecasts</button>
      </li>

      <li class="nav-item">
        <button routerLink="alarm" routerLinkActive="active-list-item" class="m-1 btn btn-light btn-outline-primary" Button>Alarms</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
