<div class="container" ng-controller="AlarmsController">
  <h3 class="d-flex justify-content-center">Total alarm pressure for Denmark</h3>
  <table class=" table table-striped">
    <thead>
      <tr>
        <th>Date for predicted alarm pressure</th>
        <th>Total Alarms for denmark</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of AlarmList">
        <td>{{dataItem.Date | date: 'yyyy-MM-dd' }}</td>
        <td>
          {{dataItem.SumAlarms}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" ng-controller="RegionsController"></div>

