<table class=" table table-striped">
  <thead>
    <tr>
      <th>
        <div class="d-flex flex-row">
          <input [(ngModel)]="StationNameFilter" class="form-control"
                 (keyup)="FilterFn()" placeholder="Filter">

        </div>
        Name
      </th>
      <th>
        <div class="d-flex flex-row">
          <input [(ngModel)]="StationRegionFilter" class="form-control"
                 (keyup)="FilterFn()" placeholder="Filter">
        </div>
        RegionId
      </th>
      <th>
        <div class="d-flex flex-row">
          <input [(ngModel)]="StationIdFilter" class="form-control"
                 (keyup)="FilterFn()" placeholder="Filter">
        </div>
        Station Id
      </th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of StationsList; index as i">
      <td *ngIf="(dataItem.ForecastDay == 1)">{{dataItem.Name}}</td>
      <td *ngIf="(dataItem.ForecastDay == 1)">{{dataItem.RegionId}}</td>
      <td *ngIf="(dataItem.ForecastDay == 1)">{{dataItem.Id}}</td>
      <td *ngIf="(dataItem.ForecastDay == 1)">
        <button *ngIf="(dataItem.ForecastDay == 1)" type="button" class="btn btn-primary float-left m-2" (click)="openModal(dataItem.Id, StationsList)" data-toggle="modal" data-target="#exampleModal"
                data-backdrop="static" data-keyboard="false" value={{i}}>
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">7 Day Forecast</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Day of forecast</th>
              <th>Name</th>
              <th>Min temp</th>
              <th>Mean temp</th>
              <th>Max temp</th>
              <th>Humidity</th>
              <th>Pressure</th>
            </tr>
          </thead>
          <tr *ngFor="let dataItem of CustomList;">
            <td *ngIf="(dataItem.StationId == Id)">
              {{updateDate(dataItem.ForecastDay)}}
            </td>
            <td *ngIf="(dataItem.StationId == Id)">
              {{dataItem.Name}}
            </td>
            <td *ngIf="(dataItem.StationId == Id)">
              {{dataItem.TempMin}} &#8451;
            </td>
            <td *ngIf="(dataItem.StationId == Id)">
              {{dataItem.TempMean}} &#8451;
            </td>
            <td *ngIf="(dataItem.StationId == Id)">
              {{dataItem.TempMax}} &#8451;
            </td>
            <td *ngIf="(dataItem.StationId == Id)">
              {{dataItem.Humidity}} %
            </td>
            <td *ngIf="(dataItem.StationId == Id)">
              {{dataItem.Pressure}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
